:root {
    --primary-color: #F1F0F1;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --product-header-color: #D7202C;
}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Animation */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
