/* Trang chủ */
/* qc */
.qcmain {
    position: fixed;
    height: 300px;
    width: 100px;
    margin: 0 30px;
    top: 30%;
    z-index: 9999;
}
.qc--left {
    left: 0;
}

.qc--right {
    right: 0;
}

.qc__img {
    height: 100%;
    width: 100%;
}

/* Header */
.header {
    background-color: var(--primary-color);
}

.header-nav {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* banner */
.banner__items {
    height: 50px;
    background-image: url(../img/banner.webp);
    background-position: center;
}

/* menu-m-block */
/* menu mobile tablet icon */
.menu-bar {
    cursor: pointer;
}

.menu-bar,
.menu-giohang {
    display: none;
    height: 30px;
    width: 35px;
    margin: 10px 20px;
}

.menu-bar__img,
.menu-giohang__img {
    height: 100%;
    width: 100%;
}


/* menu-m__input */
.menu-m__input {
    display: none;
}

.menu-m__input:checked ~ .menu-m__overlay {
    display: block;
}

.menu-m__input:checked ~ .menu-m {
    transform: translateX(0);
}

/* menu-m__overlay */
.menu-m__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 50;
    display: none;
}

/* menu-m */
.menu-m {
    background-color: #fff;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform linear 0.2s;
}

.menu-m__link {
    text-decoration: none;
    color: #000;
}

/* menu-m-brand */
.menu-m-brand {
    padding: 10px 20px;
}

.menu-m-brand__text-block {
    color: var(--product-header-color);
    font-size: 1.6rem;
    font-weight: bold;
}

/* menu-m-login */
.menu-m-login {
    padding: 20px;
}

.menu-m-login__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-m-login__items {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.menu-m-login__img-block {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.menu-m-login__img {
    height: 100%;
    width: 100%;
}

.menu-m-login__text-block {
    font-size: 1.4rem;
}

/* menu-m-menu */
.menu-m-menu {
    padding: 20px;
}

.menu-m-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-m-menu__header {
    font-size: 1.6rem;
    font-weight: 500;
}

.menu-m-menu__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.menu-m-menu__img-block {
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.menu-m-menu__img {
    height: 100%;
    width: 100%;
}

.menu-m-menu__text-block {
    float: left;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 4px 0;
}

/* navbar */
.navbar {
    display: flex;
    height: 70px;
    padding: 10px 0;
    border-bottom: 1px solid #d4d4d4;
}

.navbar-left {
    float: left;
    width: 170px;
}

.navbar-left__img1 {
    height: 100%;
    width: 100%;
}

.navbar-left__img2 {
    display: none;
    height: 100%;
    width: 100%;
}

.navbar-right {
    flex: 1;
}

.navbar-right-top {
    display: flex;
}

/* search */
.search {
    display: flex;
    flex: 1;
    height: 30px;
    padding-left: 10px;
}

.search__input {
    flex: 1;
    outline: none;
    border: none;
    border-radius: 50px 0 0 50px;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: 400;
}

.search__btn {
    background-color: #FE3217;
    color: #fff;
    width: 40px;
    border: none;
    border-radius: 0 50px 50px 0;
    font-size: 1.4rem;
    cursor: pointer;
}

.search__btn:hover {
    color: #333;
}

/* canhan */
.canhan__list {
    display: flex;
    list-style: none;
    line-height: 30px;
    padding-left: 10px;
    margin: 0;
}

.canhan__items {
    margin-right: 20px;
    align-items: center;
}

.canhan__link {
    display: flex;
    text-decoration: none;
    color: #000;
}

.canhan__img-block {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.canhan__text-block {
    font-size: 1.1rem;
    font-weight: bold;
}

.canhan__img {
    height: 100%;
    width: 100%;
}

/* lienhe */
.lienhe__list {
    display: flex;
    list-style: none;
    line-height: 10px;
    padding: 6px 0;
    margin: 0;
}

.lienhe__items {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid var(--product-header-color);
}

.lienhe__items:last-child {
    border: none;
}

.lienhe__link {
    text-decoration: none;
    color: #000;
}

.lienhe__img-block {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.lienhe__text-block {
    color: var(--product-header-color);
    font-size: 1.4rem;
    font-weight: bold;
}

.lienhe__img {
    height: 100%;
    width: 100%;
}

/* thongtin */
.thongtin {
    height: 50px;
    padding: 7px 0;
}

.thongtin-left {
    float: left;
}

.thongtin-left:hover .menu {
    display: block;
}

.thongtin-left__content {
    display: flex;
    color: #fff;
    background-color: #505050;
    width: 170px;
    padding: 10px 12px;
    border-radius: 5px;
}

.thongtin-left__img-block {
    font-size: 1.2rem;
}

.thongtin-left__text-block {
    padding-left: 10px;
    font-size: 1.3rem;
    cursor: default;
}

.thongtin-right__list {
    display: flex;
    padding: 0;
    margin: 0;
}

.thongtin-right__items {
    display: flex;
    padding: 8px 12px;
    margin-left: 7px;
    border: 1px solid #000;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

.thongtin-right__items:hover {
    background-color: red;
}

.thongtin-right__items:hover .thongtin-right__text-block {
    color: #fff;
}

.thongtin-right__link {
    text-decoration: none;
    color: #000;
}

.thongtin-right__img-block {
    height: 18px;
    width: 30px;
    padding-right: 10px;
}

.thongtin-right__text-block {
    font-size: 1.1rem;
}

.thongtin-right__img {
    height: 100%;
    width: 100%;
}

/* menu */
.menu {
    background-color: #fff;
    height: 542px;
    width: 170px;
    border-radius: 5px 0 0 5px;
    margin: 7px 0 10px 0;
    display: none;
    z-index: 10;
}

.menu__link {
    position: relative;
    display: flex;
    text-decoration: none;
    height: 34px;
    padding: 4px 4px 4px 10px;
    color: #000;
    align-items: center;
    border-radius: 4px 0 0 4px;
}

.menu__link:hover {
    background-color: red;
    color: #fff;
}

.menu__link:hover .menu__muiten {
    display: block;
}

.menu__muiten {
    border: 17.1px solid;
    border-color: transparent transparent transparent red;
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    z-index: 2;
}

.menu__list {
    position: relative;
    margin: 0;
    padding: 0;
}

.menu__items {
    height: 34px;
    list-style: none;
    border-radius: 4px 0 0 4px;
}

.menu__items:hover .menu-con {
    display: block;
}

.menu__img-block {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.menu__text-block {
    font-size: 1.2rem;
    font-weight: 500;
}

.menu__img {
    height: 100%;
    width: 100%;
}

/* menu-con */
.menu-con {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    height: 542px;
    width: 1033px;
    position: absolute;
    top: 0;
    left: 100%;
    border-left: 7px solid var(--primary-color);
    border-radius: 0 5px 5px 0;
    display: none;
}

.menu-con__text-block {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: row wrap;
    height: 100%;
    width: 85%;
}

.menu-con__items {
    padding: 7px 15px;
}

.menu-con__header {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: red;
    margin-top: 5px;
}

.menu-con__link {
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    color: #666;
    margin: 4px 0;
}

.menu-con__link:hover {
    color: red;
}

.menu-con__img-block {
    position: absolute;
    height: 100%;
    width: 15%;
    top: 0;
    right: 0;
}

.menu-con__img {
    height: 100%;
    width: 100%;
    border-radius: 0 5px 5px 0;
}

/* header-main */
.header-main {
    margin-top: 170px;
    padding-bottom: 10px;
}

/* menu-main */
.menu-main {
    background-color: #fff;
    height: 542px;
    width: 170px;
    margin-right: 7px;
    border-radius: 5px 0 0 5px;
    z-index: 5;
}

/* main */

.main {
    display: flex;
    flex: 1;
    height: 542px;
}

.main-left {
    width: 67%;
}

/* slide */
.slide {
    position: relative;
    height: calc(200%/3);
}

.slide__btn-left,
.slide__btn-right {
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
}

.slide__btn-left {
    left: 0;
}

.slide__btn-right {
    right: 0;
}

.slide__btn-left:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
}

.slide__btn-right:hover {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
}

.slide__icon-left {
    position: absolute;
    top: 47%;
    left: 45%;
    opacity: 0.8;
}

.slide__btn-left:hover .slide__icon-left {
    opacity: 1;
}

.slide__icon-right {
    position: absolute;
    top: 47%;
    right: 45%;
    opacity: 0.8;
}

.slide__btn-right:hover .slide__icon-right {
    opacity: 1;
}

.main-banner {
    height: calc(100%/3);
}

.main-banner__left,
.main-banner__right {
    float: left;
    height: 100%;
    width: 50%;
}

.main-right {
    width: 33%;
}

.main-right__1,
.main-right__2,
.main-right__3 {
    height: calc(100%/3);
}

.slide__img,
.main__img {
    height: 100%;
    width: 100%;
}

/* Container */
/* Product */
.product__link {
    text-decoration: none;
    color: #000;
    padding: 0;
    margin: 0;
}

/* Product-img */
.product-img {
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-img .row {
    margin-left: -5px;
    margin-right: -5px;
}

.product-img__items {
    padding-left: 5px;
    padding-right: 5px;
}

.product-img__img {
    height: 100%;
    width: 100%;
}



/* Khung sản phẩm */
.product-header {
    height: 45px;
    background-color: var(--product-header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.product-header__name {
    font-size: 2rem;
    color: #fff;
}

.product-header__viewall:hover {
    opacity: 0.3;
}

.product-header__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
}

.product__items {
    height: 340px;
    margin-bottom: 30px;
}

.product__frame {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 30%);
    border: 1px solid #fff;
    position: relative;
}

.product__frame:hover {
    box-shadow:none;
    border: 1px solid rgb(250, 220, 150);
}

.product__frame:hover .product__dathang {
    bottom: 0;
}

.product-frame__top {
    height: 230px;
    position: relative;
    overflow: hidden;
}

.product__dathang {
    background-color: rgba(121, 117, 101, 0.8);
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: bottom  0.5s ease;
}

.product-dathang__chitiet {
    font-style: italic;
    font-size: 1.3rem;
    color: #fff;
}

.product-dathang__dathang {
    background-color: #252525;
    color: #fff;
    padding: 7px 14px;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
}

.product-dathang__dathang:hover {
    background-color: #428bca;
}

.product__name {
    height: 40px;
    font-size: 1.4rem;
    margin: 10px;
}

.product-frame__bot {
    padding: 0 10px 10px 10px;   
}

.product__img {
    height: 100%;
    width: 100%;
}

.product__price {
    height: 50px;
    position: relative;
}

.product__giagoc {
    font-size: 1.4rem;
    color: #999;
    text-decoration: line-through;
    position: absolute;
    left: 0;
    bottom: 25px;
}

.product__giagiam {
    color: #ED0000;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    left: 0;
    bottom: 0;
}

.product__percent {
    background-image: url(../img/product-percent.webp);
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: center;
    padding-top: 16px;
    font-size: 1.6rem;
}

.nhan {
    color: #fff;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #FF0000;
}

.product__new {
    background-color: #00E7FF;
    width: 60px;
    top: 10px;
    left: 10px;   
}

.product__hot {
    width: 55px;
    
}

.product__tang {
    width: 140px;
}

.product__giam {
    width: 150px;
}

.product__khuyenmai {
    width: 100px;
}

/* Email */
.email {
    display: flex;
    background-color: #dedede;
    padding: 8px 0;
    justify-content: space-between;
}

.email-text {
    font-size:  1.6rem;
    font-weight: 400;
    margin: auto 0;
    padding-left: 50px;
}

.email-input {
    height: 30px;
    display: flex;
    padding-right: 50px;
}

.email-input__input {
    width: 300px;
    border: none;
    outline: none;
    border-radius: 3px 0 0 3px;
    padding: 0 0 0 10px;
    font-size: 1.2rem;
    font-weight: 300;
    z-index: 1;
}

.email-input__btn {
    width: 70px;
    border: none;
    background-color: red;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.email-input__input:focus {
    border: 1px solid blue;
    box-shadow: -1px -1px 3px rgba(0, 150, 255, 0.5), 1px 1px 3px rgb(0, 150, 255, 50%);
}

/* Footer */
.footer {
    background-color: var(--primary-color);
}

/* info */
.info {
    display: flex;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 1.4rem;
}

.info h3 {
    line-height: 25px;
    margin: 0
}

.info a {
    text-decoration: none;
}

/* info-1 */
.info-1 {
    padding: 10px;
}

.info-1 p {
    margin: 0;
    padding: 4px 0;
}

.info-1 td {
    width: 200px;
}

.info-1 table {
    margin-bottom: 20px;
}

.info-1__link {
    color: #0655A6;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 25px;
}

.info-1__img {
    margin-top: 20px;
    width: 300px;
}

/* info-2 */
.info-2 {
    padding: 10px;
}

.info-2 h3{
    color: #0655A6;
}

.info-2 h3:hover {
    color: rgb(255, 102, 0);
}

.info-2 p {
    line-height: 20px;
    margin: 0;
}

.info-2 a {
    color: #6ABCE6;
}

.info-2 a:hover {
    color: rgb(255, 102, 0);
}

.info-2 img{
    padding-left: 30%;
}






/* Tablet */
@media (max-width: 1023px) {
    /* ẩn bớt navbar */
    .canhan {
        display: none;
    }
    .lienhe {
        display: none;
    }
    .thongtin {
        display: none;
    }

    /* banner */
    .banner__items {
        display: none;
    }

    /* header */
    .header-main {
        margin-top: 70px;
    }

    /* menu mobile tablet icon */
    .menu-bar,
    .menu-giohang {
        display: block;
    }
    
    /* menu */
    .menu {
        display: none;
    }

    /* menu-main */
    .menu-main {
        display: none;
    }

    /* email */
    .email {
        background-color: #fff;
    }

    .email-text {
        display: none;
    }

    .email-input {
        width: 100%;
        padding: 0 10px;
    }

    .email-input__input {
        width: 100%;
        border: 1px solid black;
        border-radius: 3px 0 0 3px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    /* navbar */
    .navbar-left {
        width: 40px;
    }

    .navbar-left__img1 {
        display: none;
    }
    
    .navbar-left__img2 {
        display: block;
    }

    /* product */
    .product-img {
        padding: 0 15px;
    }
    .product-img__items {
        padding-bottom: 10px;
    }

    /* main */
    .main {
        height: auto;
        padding: 15px;
    }

    .main-banner__left,
    .main-banner__right {
        float: top;
        width: 100%;
    }
    
    .slide,
    .main-banner {
        height: auto;
    }
}   

/* chỉnh ở dưới 1240px */
@media (max-width: 1240px) {
    /* lienhe */
    .lienhe__text-block {
        font-size: 0.95rem;
    }

    /* thongtin-right */
    .thongtin-right__items {
        min-width: 154px;
    }

    .thongtin-right__img-block {
        display: none;
    }

    .thongtin-right__text-block {
        font-size: 1rem;
    }

    /* menu-con */
    .menu-con {
        overflow-y: auto;
        width: 805px;
    }

    .menu-con__text-block {
        width: 100%;
    }

    .menu-con__img-block {
        display: none;
    }

    /* main */
    .main-left {
        width: 100%;
    }

    .main-right {
        display: none;
    }

}

/* tắt qc hai bên */
@media (max-width: 1500px) {
    .qc {
        display: none;
    }
}